.wrapper_main {
	display: table;
	width: 100%;
	height: 100%;
}
.left_wraperr {
	display: table-cell;
	width: 243px;
	min-width: 243px;
	vertical-align: top;
	background-color: #1b1e24;
	position: relative;
}
.right_wraperr {
	display: table-cell;
	vertical-align: top;
	background: #e5e9ec;
}
.left_top_header {
	padding: 10px;
	background-color: #22262e;
	height: 40px;
}
.lftnavwraper {
	padding: 15px;
	background-color: #1b1e24;
	color: #ffffff;
}
.logo {
	margin: 5px 0 0px 0;
	padding:0;
	float:none;
}
.logo a {
	background: url(../images/logo_cw.png) no-repeat;
}
.logo a {
	display: block;
	width: 127px;
	height: 45px;
	float: left;
}
.logo a {
	text-indent: -9999px;
}
.topicon_home {
	float: left;
	width: 37px;
	height: 34px;
	background-color: #1b1e24;
}
.topicon_home a {
	border: 0px;
	padding: 0px;
	line-height: auto;
}
.topicon_mail {
	float: left;
	width: 0px;
	/*width: 37px;*/
	height: 34px;
	background-color: #1b1e24;
}
.topicon_mail a {
	border: 0px;
	padding: 0px;
	line-height: auto;
	position: relative;
}
.topicon_home.active, .topicon_mail.active, .topicon_home:hover, .topicon_mail:hover {
	background-color: #0d0f12;
}
.mail_notification {
	position: absolute;
	background-color: #F00;
	color: #ffffff;
	border-radius: 50%;
	font-size: 9px;
	width: 15px;
	height: 15px;
	text-align: center;
	top: -16px;
	right: 3px;
}
.userinformation {
	padding-bottom: 10px;
}
.user_pic {
	float: left;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	overflow:hidden;
}
.user_nme_info {
	float: left;
	margin-left: 15px;
	padding: 5px;
	font-family: 'open_sanssemibold';
	color: #ffffff;
	font-size: 18px;
	line-height: 26px;
	font-weight:normal;
	text-shadow:none;
}
.statusdiv {
	padding: 5px;
	font-family: 'open_sansregular';
	font-size: 13px;
	margin-left: 15px
}
.statslabel {
	color: #8b91a0;
	float: left;
	font-weight:normal;
	text-shadow:none;
}
.statusicon {
	float: left;
	width: 25px;
	text-align: center;
}
.statusdisp {
	color: #8b91a0;
	float: left;
	color: #ffffff;
	font-weight:normal;
	text-shadow:none;
}
.menu_lft {
	padding: 20px 10px 10px 10px;
}
.catg {
	float: left;
	color: #8b91a0;
	font-size: 11px;
}
.catg a {
	color: #8b91a0;
	text-decoration: none;
}
.menu_wrap {
	padding: 15px 0px 15px 0px;
}
#lftmenu ul.menu {
	padding: 0px;
	margin: 0px;
}
#lftmenu ul.menu li {
	padding: 10px 0px;
}
#lftmenu ul.menu li a:nth-child(2) {
	width:120px;
}
#lftmenu ul.menu li a {
	font-size: 14px;
	color: #8b91a0;
	text-decoration: none;
	padding-left: 5px;
	/*display: inline-block;*/
	display: inline;
	font-weight:normal;
	text-shadow:none;
}
#lftmenu ul.menu li:hover {
	cursor: pointer;
}
#lftmenu ul.menu li:hover a {
	color: #ffffff;
}
#lftmenu ul.menu li:hover .iconsprit.dash {
	background-position: -35px 2px;
}
#lftmenu ul.menu li:hover .iconsprit.widget {
	background-position: -36px -40px;
}
#lftmenu ul li:hover .iconsprit.recent {
	background-position: -36px -81px;
}
#lftmenu ul.menu li:hover .iconsprit.feeds {
	background-position: -36px -124px;
}
#lftmenu ul.menu li:hover .iconsprit.report {
	background-position: -36px -167px;
}
#lftmenu ul li:hover .iconsprit.account {
	background-position: -35px -211px;
}
#lftmenu ul.menu li:hover .iconsprit.support {
	background-position: -36px -250px;
}
#lftmenu ul.menu li:hover .iconsprit.banner {
	background-position: -36px -419px;
}
.notif {
	background-color: #f35958;
	color: #ffffff;
	border-radius: 50%;
	font-size: 11px;
	text-align: center;
	padding: 1px 5px;
}
.notif a {
	color: #ffffff !important;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
	padding-left: 0px !important;
}
.Graynotif {
	background-color: #2a2e36;
	color: #ffffff;
	border-radius: 20%;
	font-size: 11px;
	text-align: center;
	padding: 2px 5px;
	font-weight:normal;
	text-shadow:none;
}
.Graynotif a {
	color: #8b91a0 !important;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
	padding-left: 0px !important;
}
.logout_wrap {
	padding: 15px;
	position: absolute;
	bottom: 0px;
	background-color: #22262e;
	width:100%;
	font-size: 12px;
	font-family: Arial;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.logout_wrap .right:hover {
	cursor: pointer;
}
.logout_wrap a {
	color: #5e646d;
	text-decoration: none;
	font-weight:normal;
	text-shadow:none;
}
.logout_wrap a:hover {
	color: #ffffff;
	text-decoration: none
}
.logout_wrap .iconsprit.logout {
	vertical-align: -2px;
	margin-left: 5px;
}
.top_hed {
	padding: 10px 10px;
	background-color: #fff;
	color: #5e646d;
	height: 40px;
}
.tophead_left_wrapper {
	float: left;
}
.menuicon_tp {
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	margin-top: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menuicon_tp a {
	text-decoration: none;
	border: 0px;
}
.brder {
	border-right: 1px solid #e1e1e1;
}
.searchwrap {
	float: left;
	padding: 2px 10px 0px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.searchinpt {
	border-radius: 3px;
	background-color: #f4f5f7;
	padding: 5px 5px;
	background-image: url(../images/serchic.png);
	background-repeat: no-repeat;
	width: 230px;
	height: 24px;
	background-position: 5px 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.searchinpt input {
	border: 0px solid #ff0000;
	float: right;
	width: 200px;
	background-color: #f4f5f7;
	font-size: 16px;
	padding-top: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.top_right_wrap {
	float: right;
	padding: 0px 5px 0px 10px;
	background: url(../images/vrtLine.jpg) 0px 12px no-repeat;
}
.top_notification {
	float: left;
	padding: 0px 5px;
}
.top_notification .notif {
	margin-top: 7px;
}
.top_notification .notif a {
	color: #ffffff !important;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
	padding-left: 0px !important;
}
.top_username {
	float: left;
	padding: 10px 20px 5px 10px;
	/*background-image: url(../images/downarrow1.png);*/
	background-repeat: no-repeat;
	background-position: right 12px;
}
.usernme {
	color: #5e646d;
	float: left;
	font-weight: normal;
}
.usernme span {
	font-weight: bold
}
.topuserimg {
	float: left;
	margin-left: 15px;
}
.topuserimg .usrimg {
	border-radius: 50%;
	height: 37px;
	width: 37px;
	overflow: hidden;
}
.setintp {
	float: left;
	margin-left: 15px;
	position: relative
}
#top-content ul.menu {
	margin: 0;
	padding: 12px 0 0;
	position: relative;
	top: 0;
}
#top-content ul.menu li {
	color: #bfbfbf;
	float: left;
	font-size: 14px;
	position: relative;
}
#top-content ul.menu ul {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	display: block;
	left: 0;
	padding: 15px 0 0;
	position: absolute;
	top: 26px;
	visibility: hidden;
	z-index: 1000;
}
#top-content ul.menu > li:last-child ul {
	left: -178px;
}
.lastul {
	left: -117px !important;
}
#top-content ul.menu ul li {
	background: none repeat scroll 0 0 #fff;
	font-size: 14px;
	padding: 0px;
}
#top-content ul.menu ul li a {
	background: none repeat scroll 0 0 #fff !important;
	display: block;
	margin-right: 0 !important;
	padding: 0 20px 18px;
	width: 135px;
}
#top-content ul.menu li:hover ul {
	visibility: visible;
}
#top-content ul.menu li a {
	color: #646464;
	display: inline-block;
	text-decoration: none;
}
#top-content ul.menu li:hover > a, #top-content ul.menu li.selected > a {
	color: #333;
	text-decoration: none;
	outline: none;
}
.arrowbg {
	right: 8px;
	position: absolute;
	top: -15px;
	z-index: 111;
}
.dashMainWrapper {
	padding: 1.5% 3%;
}
.dashMainWrapper .colWrap {
	width: 31%;
	float: left;
	margin: 1% 0;
}
.dashMainWrapper .colWrap.manage {
	background: #0090d9;
}
.dashMainWrapper .colWrap.recent {
	background: #0aa699;
	margin: 1% 3%;
}
.dashMainWrapper .colWrap.feed {
	background: #f35958;
}
.dashMainWrapper .colWrap.report {
	background: #f9ba46;
}
.dashMainWrapper .colWrap.account {
	background: #736086;
	margin: 1% 3%;
}
.dashMainWrapper .colWrap.support {
	background: #365d98;
}
.dashMainWrapper .colWrap .innerWrap {
	padding: 18px;
}
.dashMainWrapper .colWrap .iconWrap {
	width: 100%;
	padding: 50px 0;
	text-align: center;
}
.dashMainWrapper .colWrap .headingWrap {
	float: left;
	font-size: 18px;
	color: #fff;
}
.dashMainWrapper .colWrap .headingWrap span {
	font-family: 'open_sansbold';
}
.dashMainWrapper .colWrap .contentWrap {
	height: 85px;
	width: 100%;
	font-family: Arial;
	color: #fff;
	line-height: 20px;
	font-size: 13px;
	overflow: hidden;
}
.dashMainWrapper .colWrap .contentWrap span {
	display: block;
	color: #1b1e24;
	font-size: 18px;
	line-height: normal;
	padding-bottom: 5px;
}
li .iconsprit.logout {
	margin-right: 5px;
	vertical-align: -3px;
}
#top-content ul.menu ul li.logout, #top-content ul.menu ul li.logout:hover {
	border-top: 1px solid #e0e0e0;
	padding-top: 12px;
}
#lftmenu ul.menu ul {
	display: none;
	margin: 0px;
	padding: 0px 0 0 30px;
}
#lftmenu ul.menu li:hover ul {
	display: block;
}
#lftmenu ul.menu ul li {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #313131;
}
#lftmenu ul.menu ul li a {
	font-size: 14px;
	text-decoration: none;
	padding-left: 5px;
	color:#8b91a0 !important;
}
#lftmenu ul.menu ul li:hover {
	cursor: pointer;
}
#lftmenu ul.menu ul li:hover a {
	color: #ffffff !important;
}
.left_wraperr.close {
	margin-left: -243px;/*float: right;*/
}
.left_wraperr.open {
	margin-left: 0px;/*float: right;*/
}


.mac-firefox .logout_wrap { width:243px; position:fixed;}