@media all and (max-width: 1290px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
input[type="text"] {
	width: 16%;
}
.s_innerWrap {
	width: 99%;
}
.gp_part_product {
	width: 30%;
}
.gp_icons {
	width: 100%;
}
.mtchdProd_inner {
	width: 715px;
}
.matcProTbHeadInr {
	width: 700px ;
}
#totalClicks .matcProTbHead {
	width: 700px ;
}
#totalClicks .matcProTbBody {
	width: 700px ;
}
#totalClicks .col1 {
	min-width: 40px;
	max-width: 40px;
}
#totalClicks .col2 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col3 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col4 {
	min-width: 50px;
	max-width: 50px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col6 {
	min-width: 119px;
	max-width: 119px;
	border-right: 0px;
}
.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 8px 3px;
	width: 49.5%;
}
#viewGraph {
	width: 705px;
}
.country, .country1 {
	width: 238px;
}
.lastView, .lastView1 {
	width: 200px;
}
.creatFrmRw input[type="text"] {
	float: left;
	font-size: 12px;
	margin-bottom: 0 !important;
	width: 92.5%;
}
.creatFrmRw select {
	width: 94.2%;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}
}


@media all and (max-width: 1030px) {
.s_innerWrap {
	width: 99%;
}
.fn {
	display: block;
	margin-top: 0px;
}
input[type="text"] {
	width: 22%;
}
.gp_icons {
	padding-left: 10px;
}
/****Dashboard*****/
#dashboard {
	width: 100%;
}
.s_v {
	margin-left: 5px;
}
.sv {
	margin-left: 8px;
	width: 50%;
}
.searchField_select {
	display: block;
	line-height: 20px;
}
.sF_s select {
	width: 49%;
}
.sF_s+input#widget_name {
	width: 99%;
	box-sizing: border-box;
}
.bld {
	margin-left: 0px;
}
.rhtP {
	width: 100%;
}
.rhtP ul {
	margin: 0;
}
}
@media (width:1024px) {
.dashboardTblInner, .sel_retailor_cont{ width:942px;}
.sel_retailor_cont table.dashboardTbl {
    width: 942px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 52px;
    min-width: 52px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 163px;
    min-width: 163px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 205px;
    min-width: 205px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 241px;
    min-width: 241px;
}
.reportTbodyScrool {
	max-height: 155px;
}
.matcProTbHeadInr {
	width: 700px;
}
.matcProTbHead {
	width: 700px;
}
.matcProTbBody {
	width: 700px;
}
#totalClicks .col1 {
	min-width: 40px;
	max-width: 40px;
}
#totalClicks .col2 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col3 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col4 {
	min-width: 50px;
	max-width: 50px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col6 {
	min-width: 119px;
	max-width: 119px;
	border-right: 0px;
}
#viewGraph {
	width: 800px;
}
.mtchdProd_inner.agencyGraph {
	width: 97.6%;
}
#showGraph .mtchdProd_inner {
	width: 816px;
}
#pdCnt .selectedProdWrap > span {
	display: block;
	float: left;
	padding: 7px;
}
#pdCnt .selectedProdWrap {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}
#pdCnt2 .selectedProdWrap > span {
	display: block;
	float: left;
	padding: 7px;
}
#pdCnt2 .selectedProdWrap {
	float: left;
	margin-right: 10px;
	margin-top: 2px
}
.selProWrapbtnCnt {
	float: right;
}
.creatFrmRw select {
	width: 94.2%;
}
.mnageWdgtable {
    width: 942px;
}
}
@media all and (max-width: 999px) {
.tablWrap {/*height: 618px;*/
	overflow: scroll;
	width: 100%;
}
input[type="text"] {
	width: 35%;
}
.s_innerWrap select {
	width: 100%;
}
.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 6px 3px;
	width: 41% !important;
}
.s_innerWrap {
	margin: auto;
	padding: 11px 5px;
	width: 99%;
}
.s_innerWrap.mapInnerWrap {
	padding: 15px 15px 0 5px;
	width: 70%;
}
.s_innerWrap.mapInnerWrap select.checkBrand {
	margin-right: 5px;
	padding: 4px;
	width: 36%;
}
.filterBtnCont {
	clear: none;
	float: left;
	padding: 0;
}
/*ul.ui-autocomplete {width:278px !important;}*/
.filterBtnCont {
	clear: none;
	float: left;
	padding: 0;
}
#rsltPerPage {
	float: right;
}
.userReportBtnCont .filterBtnCont {
	clear: none;
	float: right;
	padding: 0;
}
.filterBtnCont_product {
	padding: 10px 0 10px 10px;
}
table.scroll tbody td, table.scroll thead th {
	width: 273px;
}
}
 @media (width:900px) {
.innerWrap{ max-width:900px;}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 6px 3px;
	width: 42.8% !important;
}
}
 @media (min-width:768px) and (max-width:979px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.agencyDashInrCont .s_v {
	margin-right: 10px;
	text-align: left;   /* width: 32%;*/
}
.srchWidget_innerWrap input#widgetId {
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: 8px 3px;
	width: 220px;
}
.filterBtnCont_product {
	padding: 10px 0 10px 10px;
}
.lftnavwraper {
	padding: 15px;
}
.top_hed {
	height: auto;
}
.searchwrap {
	float: right;
	padding: 2px 0px;
	width: 70%;
}
.searchinpt {
	width: 98%;
}
.searchinpt input {
	width: 93%;
}
.top_right_wrap {
	background: none;
	padding: 0px;
}
.dashMainWrapper {
	padding: 1.5%;
}
.dashMainWrapper .colWrap {
	width: 48%;
	margin: 0 5px 10px !important;
}
.leftform {
	float: left;
	padding: 10px;
	width: 50%;
}
.wpcf7-form .wpcf7-text {
	width: 100%;
}
.rightform {
	padding: 10px;
	width: 50%;
}
.tfs-slider .slide-content-container .tfs-button-2 {
	margin: 20px 0 0 -62px
}
.one_half {
	padding: 10px;
	box-sizing: border-box
}
.filterBtnCont.fbc_2 {
	clear: none;
	float: right;
	padding: 0;
}
.srchwView_ind input[type="text"] {
	width: 32%;
}
.tablWrap table .widgetName {
	width: 35%;
}
#ProdFeed .tablWrap {
	margin-bottom: 10px;
	overflow: s
}
#ProdFeed .paging {
	margin-top: 0px !important;
}
#ProdFeed #pdTotCnt.filterBtnCont {
	float: left;
}
#ProdFeed #pdCnt.filterBtnCont {
	float: left;
	padding: 0px;
}
.srchWidget_innerWrap input#widgetId {
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: 8px 3px;
	width: 231px;
}
}



/*.widget-dialog-main_cw{width:556px !important; overflow:auto;}*/


@media all and (max-width: 810px) {
.prodFeedTitleDim {
	width: 100%;
	box-sizing: border-box;
}
/*Dashboard*/
#dashboard {
	width: 100%;
}
.sv {
	width: 302px;
}
.sWC_b_c2 {
	max-width: 90%;
}
.sWC_bt2_tp {
	margin: 0 12px;
	width: 70%;
}
.sWC_b_c1 {
	width: 10%;
}
.tablWrap {
	overflow: hidden;
}
.tfs-button-1 span {
	display: none !important;
}
.mtchdProd_inner {
	width: 100%;
}
.country, .country1 {
	width: 220px;
}
/*.matcProTbBody{ width:auto;}*/
.gp_part_product {
	width: 40%;
}
.gp_icons {
	width: 100%;
}
.popupwrap_mtchdProd {
	width: 800px;
}
.mtchdProd_inner {
	width: 695px;
}
#ProdFeed .tablWrap {
	margin-bottom: 10px;
	overflow: scroll
}
}


@media (width:800px) {
.innerWrap{ max-width:800px;}
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 6px 3px;
	width: 41.2% !important;
}
.paging {
	clear: both;
	padding-top: 10px;
}
.popupwrap_mtchdProd {
	width: 800px;
}
.mtchdProd_inner {
	width: 715px;
}
.matcProTbHeadInr {
	width: 698px;
}
.matcProTbHead {
	width: 700px;
}
.matcProTbBody {
	width: 700px;
}
#totalClicks .col1 {
	min-width: 30px;
	max-width: 30px;
}
#totalClicks .col2 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col3 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col4 {
	min-width: 50px;
	max-width: 50px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 125px;
	max-width: 125px;
}
#totalClicks .col6 {
	min-width: 119px;
	max-width: 119px;
	border-right: 0px;
}
#viewGraph {
	width: 705px;
}
.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 6px 3px;
	width: 45.2% !important;
}
.creatFrmRw input[type="text"] {
	float: left;
	font-size: 12px;
	margin-bottom: 0 !important;
	width: 93%;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}
}



@media all and (max-width: 777px) {
.tablWrap {
	height: auto;
	overflow: scroll;
	width: 100%;
}
.gp_icons {
	padding-left: 8px;
}
/*Dashboard*/
.sv {
	width: 265px;
}
.sFC {
	padding: 0;
}
.s_v {/*margin-right: 10px;width:38%;*/
	text-align: right;
}
.sWC_bt2_tp {
	width: 78%;
}
.tablWrap {
	overflow: visible;
}
}



 @media (width:768px) {
.innerWrap{ max-width:768px;}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.s_v {
	float: left;
	margin-right: 0px;
	text-align: right;   /* width: 60%;*/
}
.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 6px 3px;
	width: 49% !important;
}
a.bl {
	float: left;
}
.button-login {
	width: 380px !important;
}
.button-register {
	width: 380px !important;
}
.gp_part_product {
	float: right;
	margin: -5px 0px 0 0;
	width: auto;
}
.tfs-slider .slide-content-container .tfs-button-2 {
	margin: 20px 0 0 -62px
}
.t_sresult.prodFeedTitleDim > .left {
	width: auto;
	padding-bottom: 0px;
}
.gp_icons {
	padding-left: 0px;
}
#ProdFeed .paging {
	margin-top: 0px !important;
}
/*ul.ui-autocomplete {width:221px !important;}*/
.srchWidget_innerWrap input#widgetId {
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: 8px 3px;
	width: 220px;
}
/*.widget-dialog-main_cw{width:556px !important; overflow:auto;}*/
.popupwrap_mtchdProd {
	width: 760px;
}
.mtchdProd_inner {
	width: 90%;
}
/*.scroll {min-width: 690px;}*/
.ip, .ip1 {
	width: 188px;
}
.matcProTbHeadInr {
	width: 670px;
}
#totalClicks .matcProTbBody {
	width: 670px;
}
#totalClicks .matcProTbHead {
	width: 670px;
}
#totalClicks .col1 {
	min-width: 55px;
	max-width: 55px;
}
#totalClicks .col2 {
	min-width: 110px;
	max-width: 110px;
}
#totalClicks .col3 {
	min-width: 110px;
	max-width: 110px;
}
#totalClicks .col4 {
	min-width: 55px;
	max-width: 55px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 110px;
	max-width: 110px;
}
#totalClicks .col6 {
	min-width: 104px;
	max-width: 104px;
	border-right: 0px;
}
#viewGraph {
	width: 670px;
}
.mtchdProd_inner.agencyGraph {
	width: 90%;
}
#pdCnt .selectedProdWrap > span {
	display: block;
	float: left;
	padding: 7px;
}
#pdCnt .selectedProdWrap {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}
#pdCnt2 .selectedProdWrap > span {
	display: block;
	float: left;
	padding: 7px;
}
#pdCnt2 .selectedProdWrap {
	float: left;
	margin-right: 10px;
	margin-top: 2px
}
.selProWrapbtnCnt {
	float: right;
}
#ProdFeed #pdCnt2.fbc_1 {
	float: right;
	margin: 0;
	padding: 0;
}
#frmChk #pdCnt {
	float: left;
	margin-top: 0px;
}
}




@media (min-width:561px) and (max-width:767px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.left_wraperr, .right_wraperr {
	width: 100%;
	display: block;
}
.logout_wrap {
	position: relative;
	padding: 15px 0 32px;
}
.logout_wrap .right {
	float: left;
	width: 100%;
}
.logout_wrap .right .left {
	float: none;
	margin: auto;
	width: 70px;
}
.top_hed {
	height: auto;
}
.tophead_left_wrapper {
	padding-top: 10px;
}
.searchwrap {
	float: right;
	padding: 2px 0;
}
.searchinpt {
	width: 95%;
}
.searchinpt input {
	width: 88%;
	box-sizing: border-box;
}
.top_right_wrap {
	background: none;
	padding-top: 5px;
}
.setintp {
	float: right;
}
.dashMainWrapper {
	padding: 10px;
}
.dashMainWrapper .colWrap {
	width: 47.8%;
	margin: 0 10px 10px 0 !important;
}
.dashMainWrapper .colWrap.support {
	margin-bottom: 0px !important;
}
/*---------------New Css ----------*/
	 
.welcome-txt {
	margin: 0 auto 50px !important;
}
.welcome-txt h1 {
	font-size: 45px;
	margin-bottom: 50px;
}
.button-login {
	width: 300px !important;
}
.button-register {
	width: 300px !important;
}
.tfs-slider .slide-content-container .tfs-button-2 {
	margin-left: -22px
}
.tfs-button-1 span {
	padding-left: 10px;
	top: 13px;
}
#main {
	padding: 0px 10px;
}
.one_half {
	padding: 10px;
	width: 100%;
}
.post-content h1 {
	line-height: 10px;
}
.red-hr {
	margin: 0 auto 0px;
}
.leftform {
	float: left;
	padding: 10px;
	width: 50%;
}
.wpcf7-form .wpcf7-text {
	width: 100%;
}
.rightform {
	padding: 10px;
	width: 50%;
}
#send-button {
	width: 100%;
}
.title-h {
	font-size: 32px !important;
}
.srchw_in select {
	width: 96%;
}
.srchwView_in input[type="text"] {
	width: 58%;
}
.srchwView_ind label {
	width: 30%;
}
.srchwView_ind input[type="text"] {
	width: 27%;
}
.wrapper_main {
	display: block;
}
/*.srchwView_in {width:50%}*/
.filterBtnCont.right {
	padding-right: 10px !important;
}
.btm_1 {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.btm_u {
	float: left;
	width: 61%;
}
.btm_u a:last-child {
	min-width: 110px;
}
#ProdFeed input[type="text"] {
	margin-bottom: 5px;
	width: 100%;
}
.fbc_1 {
	float: left;
	padding-left: 10px;
	margin-bottom: 15px;
}
#ProdFeed #pdTotCnt.filterBtnCont {
	float: left;
}
#ProdFeed #pdCnt.filterBtnCont {
	width: 100%;
	padding: 10px 0;
}
.zclip {
	z-index: -1 !important;
}
.sWC_bt2_tp {
	width: 100%;
}
.left_wraperr.open, .left_wraperr.close {
	margin-left: 0px !important;
}
.dashBoardTopCont {
	padding-bottom: 10px;
}
.filterBtnCont.map.cb {
	width: 100%;
	float: none;
	text-align: center;
	padding-top: 0px;
}

.matcProTbHeadInr {
	width: 520px;
	box-sizing:border-box;
}
#totalClicks .matcProTbBody {
	width: 520px;
}
#totalClicks .matcProTbHead {
	width: 520px;
}
#totalClicks .col1 {
	min-width: 45px;
	max-width: 45px;
	box-sizing:border-box;
}
#totalClicks .col2 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col3 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col4 {
	min-width: 95px;
	max-width: 95px;
	text-align: center;
	box-sizing:border-box;
}
#totalClicks .col5 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col6 {
	min-width: 95px;
	max-width: 95px;
	border-right: 0px;
	box-sizing:border-box;
}
}




@media all and (max-width: 650px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.s_innerWrap {
	float: none;
}
.s_innerWrap.mapInnerWrap {
	padding: 15px 15px 0 5px;
	width: 86%;
}
.s_innerWrap select {
	margin-bottom: 0px;
	width: 100%;
}
.s_innerWrap.mapInnerWrap select {
	margin-right: 5px;
	padding: 4px;
	width: 96%;
}
#w_n {
	width: 89%;
}
#check_brand {
	width: 93%;
}
input[type="text"] {
	width: 90%;
	margin-bottom: 5px;
}
.gp_icons {
	padding-left: 10px;
}
/*Dashboard*/
.sv {
	width: 100%;
	margin: auto;
	padding: 0 10px;
	box-sizing: border-box;
}
#check_brand {
	width: 100%;
}
#dashboard {
	margin: auto;
	text-align: center;
	width: 100%;
	float: none;
}
/*ul.ui-autocomplete {width:165px !important;}*/
	/*.srchWidget_innerWrap+.filterBtnCont {float:right; width:100%; text-align:right; box-sizing:border-box; margin-right: 5px;}*/
#ProdFeed .clear + .dashbrdTitle {
	margin-bottom: 0px;
}
.msgP {
	margin-bottom: 0px;
}
.btn_n > .filterBtnCont {
	padding-top: 0px;
}
#ProdFeed #pdCnt.filterBtnCont {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
#ProdFeed .paging {
	margin-top: 10px !important;
}
.clsepop {
	text-align: right;
}
.container .modal.fade.in {
	left: 32%;
	top: 0;
}
.popupwrap_mtchdProd {
	width: 585px;
}
.mtchdProd_inner {
	width: 100%;
}
#lftmenu ul.menu ul li a {
	width: 100%;
}
.dashbrdTitle+.container.whtBg {
	width: 100% !important;
	padding: 0 !important;
}
.dashBoardTopLft {
	width: 60%;
}
.dashBoardTopRgt {
	width: 40%;
	text-align: right;
}
.searchField_val .sF_s {
	float: left;
	width: 66%;
}
.sF_s + input#widget_name {
	box-sizing: border-box;
	float: right;
	margin-top: 10px;
	width: 33.5%;
}
.searchField_val+.s_v {
	width: 47%;
	float: left;
	clear: none;
	text-align: left;
	margin-left: 15px;
}
.searchField_val+.s_v+.s_v {
	width: 47%;
	float: left;
	clear: none;
	text-align: right;
	margin: 0px;
}
#ProdFeed.wrapper_main {
	display: block;
}
#ProdFeed .s_innerWrap {
	width: 100%;
	padding: 0px;
}
#ProdFeed .s_innerWrap select {
	width: 33%;
	float: left;
}
#ProdFeed #w_n {
	width: 30%;
}
#ProdFeed input[type="text"] {
	margin-bottom: 5px;
	width: 96%;
}
#ProdFeed .s_innerWrap+.filterBtnCont {
	float: right !important;
	padding: 0px;
}
.t_sresult.prodFeedTitleDim > .left {
	width: auto;
	padding-bottom: 5px;
}
.agencyBrandWiseCont .gp_part_1 {
	float: right;
	margin: 0;
}
.gp_icons {
	padding: 0px;
}
.gp_icons a.graphshow.bl {
	margin: 0 6px 0 0 !important;
}
.gp_icons a#graphshow {
	width: 124px;
	text-align: center;
}
#showGraph, #matchedviewList, #matchedclickList {
	left: 32%;
}
.mtchdProd_inner.agencyGraph {
	width: 100%;
	margin: auto;
	overflow: auto;
}
#ProdFeed .s_innerWrap select {
	float: left;
	width: 100%;
}
#ProdFeed .s_innerWrap.agencyReportCont select {
	float: left;
	margin-bottom: 0;
	width: 100%;
	
}
/*.srchinPane div {padding-bottom:0px;}*/
#ProdFeed .agency-report-wrap #w_n,  #ProdFeed .agency-report-wrap .s_innerWrap select {
	width: 100%;
	box-sizing: border-box;
}
#ProdFeed input.hasDatepicker {
	width: 39.6%;
}
.agencyReportCont input#start_date {
	width: 37%;
}
#ProdFeed .s_innerWrap {
	padding-bottom: 10px;
}
.tablWrap {
	overflow: auto;
}
#frmChk .tablWrap {
	width: 100%;
	height: 750px;
}
.ui-dialog_cw.ui-widget_cw {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	height: 360px !important;
}
.srchWidget_innerWrap input#widget_name {
	width: 96%;
}
.agencyDashInrCont .s_v {
	text-align: left;/*width: 32%;*/
}
.gp_part_product {
	width: auto;
}
.gp_icons {
	float: left;
	padding: 0;
	width: 100%;
}
.tfs-button-2 {
	margin-left: 0px
}
.menuicon_tp {
	padding: 0 5px;
}
.scroll {
	min-width: 530px;
}
.sno, .sno1 {
	width: 50px;
}
.ip, .ip1, .country, .country1, .lastView, .lastView1 {
	width: 172px;
}
.mtchdProd_inner {
	width: 580px;
}
.agencyReportCont input#start_date {
	width: 42%;
}
#ProdFeed input.hasDatepicker {
	width: 46.6%;
}
#srchWidget.srchbxwrapper.srchbxwrapperAlt {
	float: left;
	margin-bottom: 10px;
	padding: 10px 0;
}
input#filter_1[type="submit"] {
	line-height: 13px;
}
#ProdFeed .tablWrap {
	margin-bottom: 10px;
	overflow: scroll;
}
.selectedProdWrap {
	float: left;
	margin-bottom: 10px;
}
.selectedProdWrap span {
	float: left;
	width: 100%;
	text-align: center;
}
.selProWrapbtnCnt {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.selProWrapbtnCnt .btn-srch {
	display: inline;
}
.selProWrapbtnCnt .filterBtnCont a {
	display: inline;
	margin: auto;
}
#matchedProModal {
	left: 35%;
}
#matchedProModal .mtchdProd_inner {
	width: 560px;
}
#viewGraph {
	width: 680px;
	height: 180px;
}



/*.matcProTbHeadInr {
	width: 520px;
}
#totalClicks .matcProTbBody {
	width: 520px;
}
#totalClicks .matcProTbHead {
	width: 520px;
}
#totalClicks .col1 {
	min-width: 34px;
	max-width: 34px;
}
#totalClicks .col2 {
	min-width: 100px;
	max-width: 100px;
}
#totalClicks .col3 {
	min-width: 100px;
	max-width: 100px;
}
#totalClicks .col4 {
	min-width: 42px;
	max-width: 42px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 100px;
	max-width: 100px;
}
#totalClicks .col6 {
	min-width: 94px;
	max-width: 94px;
	border-right: 0px;
}*/



/*table.dashboardTbl {
	min-width: 889px;
}*/
.filterBtnCont_agebcyRprt {
	float: left;
}
.gp_icons a.graphshow.bl {
    float: left;
    margin: 0 6px 0 0 !important;
}
.gp_icons {
    float: left;
    padding: 0;
    width: 100%;
}
#ProdFeed .agency-report-wrap #w_n, #ProdFeed .agency-report-wrap .s_innerWrap select {
    box-sizing: border-box;
    width: 100%;
	height:30px;
}
}



 @media (width:640px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

/*.widget-dialog-main_cw{width:556px !important; overflow:auto;}*/
.srchWidget_innerWrap {
	float: right;
	padding: 8px 0 0px 5px;
	width: 100% !important;
}
#check_brand {
	display: block;
	margin-bottom: 0;
	width: 184px;
}
.agencyProductWiseCont .t_sresult.prodFeedTitleDim > .left {
	padding-bottom: 0px;
	width: auto;
}
.agencyProductWiseCont #rsltPerPage {
	margin-top: 2px;
}
.agencyProductWiseCont .gp_part {
	float: right;
	margin-top: 0;
	padding-right: 5px;
}
.t_sresult.prodFeedTitleDim.agencyProductWiseCont > .left {
	width: auto !important;
	padding-bottom: 0px;
}
.mtchdProd_inner {
	width: 600px;
}
.selectedProdWrap {
	float: left;
	margin-bottom: 10px;
}
#ProdFeed #pdCnt2.fbc_1 {
	float: left;
	margin: 8px 0 0 0;
	padding: 0;
	width: 100%;
}
.matcProTbHeadInr {
	width: 520px;
}
#totalClicks .matcProTbBody {
	width: 520px;
}
#totalClicks .matcProTbHead {
	width: 520px;
}
#totalClicks .col1 {
	min-width: 34px;
	max-width: 34px;
}
#totalClicks .col2 {
	min-width: 100px;
	max-width: 100px;
}
#totalClicks .col3 {
	min-width: 100px;
	max-width: 100px;
}
#totalClicks .col4 {
	min-width: 42px;
	max-width: 42px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 100px;
	max-width: 100px;
}
#totalClicks .col6 {
	min-width: 94px;
	max-width: 94px;
	border-right: 0px;
}
}




@media (width:600px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.t_sresult.prodFeedTitleDim.agencyProductWiseCont > .left {
	width: auto !important;
	padding-bottom: 0px;
}
.filterBtnCont_agebcyRprt {
	float: left;
	margin: 5px 0 0 10px;
	clear: both;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}

#matchedProModal .mtchdProd_inner {
    max-height: 260px;
    width: 540px;
}
}

/*.................... Samsung Tab 2 Landscape.......................*/
@media only screen and (device-width : 1024px) and (orientation : landscape) {
}

/*.................... Samsung Tab 2 Landscape.......................*/

@media all and (max-width: 600px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}	

.t_sresult.prodFeedTitleDim > .left {
	font-size: 12px;
}
.agencyProductWiseCont #rsltPerPage {
	font-size: 11px !important;
}
.agencyProductWiseCont .gp_part {
	margin-top: 5px;
	text-align: center;
	width: 100%;
}
.popupwrap_mtchdProd {
	width: 530px;
}
#viewGraph {
	width: 520px;
}
.mtchdProd_inner {
	width: 100%;
}
.scroll {
	min-width: 519px;
}
.ip, .ip1, .country, .country1, .lastView, .lastView1 {
	width: 156px;
}
/*.matcProTbHeadInr {
	width: 520px;
}
#totalClicks .matcProTbBody {
	width: 520px;
}
#totalClicks .matcProTbHead {
	width: 520px;
}
#totalClicks .col1 {
	min-width: 20px;
	max-width: 20px;
}
#totalClicks .col2 {
	min-width: 90px;
	max-width: 90px;
}
#totalClicks .col3 {
	min-width: 80px;
	max-width: 80px;
}
#totalClicks .col4 {
	min-width: 50px;
	max-width: 50px;
	text-align: center;
}
#totalClicks .col5 {
	min-width: 80px;
	max-width: 80px;
}
#totalClicks .col6 {
	min-width: 74px;
	max-width: 74px;
	border-right: 0px;
}*/
.reportSrchFldCont input#start_date, .reportSrchFldCont input#end_date {
	padding: 6px 3px;
	width: 49% !important;
}
.tablWrap table tr td:nth-child(5), .tablWrap table tr td:nth-child(4) {
	padding: 2px 8px 2px 0;
}
#ProdFeed #pdCnt2.fbc_1 {
	float: right;
	margin: 8px 0 0 0;
	width: 100%;
}
#matchedProModal {
	left: 31%;
}
#matchedProModal .mtchdProd_inner {
	width: 440px;
	max-height: 260px;
}
#matchedProModal .matcProTbBody {
	background: none repeat scroll 0 0 #fff;
	max-height: 145px;
	min-height: 33px;
	overflow-y: scroll;
}
.pophadertxt .mtchdProdHd {
	float: left;
	padding: 12px 0;
	width: 65%;
}
#attributedProModal .matcProTbBody {
	background: none repeat scroll 0 0 #fff;
	max-height: 150px;
	min-height: 33px;
	overflow-y: scroll;
}
#attributedProModal .mtchdProd_popheader .crossbtn {
	float: right;
	padding: 10px;
}
.pophadertxt {
	box-sizing: border-box;
	width: 85%;
}
.selProctTxt {
	float: left;
	padding: 5px;
	text-align: center;
	width: 100%;
}
#pdCnt2 .selectedProdWrap, #pdCnt .selectedProdWrap {
	float: left;
	margin: 0;
	text-align: center;
	width: 100%;
}
#pdCnt #prodShowForEdit, #pdCnt2 #prodShowForEdit {
	display: inline-block;
	margin: 0 5px 0 0;
}
.ctwireImg {
	display: inline-block;
	margin: 0;
}
.shareWithCont {
	display: inline-block;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}
.creatFrmRw select {
	width: 94%;
}
}



 @media (min-width:481px) and (max-width:560px) {
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}

.left_wraperr, .right_wraperr {
	width: 100%;
	display: block;
}
.logout_wrap {
	position: relative;
	padding: 15px 0 32px;
}
.logout_wrap .right {
	float: left;
	width: 100%;
}
.logout_wrap .right .left {
	float: none;
	margin: auto;
	width: 70px;
}
.top_hed {
	height: auto;
}
.tophead_left_wrapper {
	clear: both;
	padding-top: 15px;
}
.searchwrap {
	float: right;
	padding: 2px 0;
}
.searchinpt {
	width: 95%;
}
.searchinpt input {
	width: 88%;
	box-sizing: border-box;
}
.top_right_wrap {
	background: none;
	width: auto;
	padding-top: 15px;
}
.setintp {
	float: right;
}
.dashMainWrapper {
	padding: 10px 0 10px 10px;
}
.dashMainWrapper .colWrap {
	width: 47.8%;
	margin: 0 10px 10px 0 !important;
}
.dashMainWrapper .colWrap.support {
	margin-bottom: 0px !important;
}
/*---------------New Css ----------*/
#main {
	padding: 0px 10px;
}
.one_half {
	padding: 10px;
	width: 100%;
}
.post-content h1 {
	line-height: 10px;
}
.red-hr {
	margin: 0 auto 0px;
}
.leftform {
	float: left;
	padding: 10px;
	width: 50%;
}
.wpcf7-form .wpcf7-text {
	width: 100%;
}
.rightform {
	padding: 10px;
	width: 50%;
}
#send-button {
	width: 100%;
}
.title-h {
	font-size: 32px !important;
}
.srchw_in select {
	width: 95%;
}
.srchw_in input[type="text"] {
	width: 90%;
}
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 500px;
}
.mtchdProd_inner {
	width: 470px;
}
.scroll {
	min-width: 550px;
}
.matcProTbCont {
	overflow: scroll;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}
.creatFrmRw select {
	width: 92%;
}
}



@media all and (max-width: 490px) {
.cb {
	clear: both !important;
}
.gp_icons {
	text-align: center;
	width: 100%;
}
a.bl {
	margin: 3px 0px;
}
.filterBtnCont {
	clear: both;
}
#rsltPerPage.filterBtnCont {
	clear: none;
}
#w_n {
	width: 87%;
}
/*	#dashboard {width: 85%;}*/
.dashBoardTopLft, .dashBoardTopRgt {
	float: none;
	text-align: left;
	width: 100%;
	padding-bottom: 12px;
}
.lft_col {
	margin: 10px 0;
}
.sbt_btn {
	float: none;
}
.sWC_bt2_tp {
	width: 100%;
}
.code_c {
	float: none;
	clear: both;
}
.sWC_bt2_tp {
	margin: 0 0 18px;
}
.sWC_b_c2 {
	margin: 0 14px 15px;
	max-width: 200px;
}
ul.paginationA01 li a {
	padding: 0 5px;
}
/* 27 Aug 2014 */
.searchField_val .sF_s {
	width: 100%;
}
.sF_s select {
	width: 100%;
}
.sF_s + input#widget_name {
	width: 100%;
}
.searchField_val + .s_v, .searchField_val + .s_v + .s_v {
	width: 100%;
	text-align: center;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0px;
}
.lft_col {
	width: 100%;
	float: left;
	margin: 0 0 10px 0;
}
.rhtP ul li {
	margin: 0px;
}
.sWC_b_c1 {
	width: 100%;
}
.sWC_b_c2 {
	float: left;
	max-width: 100%;
	width: 100%;
}
.gp_part {/*width:100%;*/
	padding-right: 0px;
}
#ProdFeed input.hasDatepicker {
	width: 44% !important;
}
#attributedProModal, #showGraph, #matchedviewList, #matchedclickList {
	width: 100%;
	margin: auto;
	left: 0px;
}
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 640px;
}
.mtchdProd_inner {
	box-sizing: border-box;
	width: 100%;
}
.matcProTbCont {
	box-sizing: border-box;
	width: 96.5%;
	overflow: scroll;
}
.mtchdProd_popheader {
	position: relative;
}
.pophadertxt {
	width: 93%;
	box-sizing: border-box;
}
.pophadertxt .mtchdProdHd {
	float: left;
	padding: 0;
}
.mtchdProd_popheader .crossbtn {
	position: absolute;
	right: 0;
	top: 0;
	padding: 8px 5px;
}
.highcharts-container {
	overflow-x: scroll !important;
	overflow-y: scroll !important;
}
.tablWrap {
	overflow: auto;
}
.srchw_in {
	padding: 5px 0 0;
	width: 100%;
}
.srchw_in select {
	width: 96%;
}
.srchw_in input[type="text"] {
	width: 96%;
}
.scroll {
	min-width: 520px;
}
.creatFrmRw select {
	width: 94%;
}
.creatFrmRw label {
	width: 95%;
}
.mtchdProd_inner {
	width: 100%;
}
.srchWidget_innerWrap {
	padding-left: 5px;
}
#rsltPerPage.filterBtnCont {
	padding: 0;
}
.gp_part {
	margin-top: -5px;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
}




 @media (width:480px) {
.gp_icons a.graphshow.bl {
	float: none;
	margin: 0 8px 0 3px !important;
	width: 100px;
}
.gp_icons {
	float: left;
	text-align: center;
	width: 100%;
}
.t_sresult.prodFeedTitleDim .gp_icons {
	float: left;
	padding: 3px 0 0;
	text-align: center;
	width: 100%;
}
.t_sresult.prodFeedTitleDim.agencyBrandWiseCont .gp_icons {
	float: left;
	padding: 3px 0 0 !important;
	text-align: center;
	width: 100%;
}
.userViewWidget .srchw_in {
	width: 100%;
}
#ProdFeed input.hasDatepicker {
	width: 45.2% !important;
}
.agencyProductWiseCont .gp_part {
	float: left;
	margin: 5px 0;
	padding-right: 5px;
	width: 100%;
}
.agencyProductWiseCont #rsltPerPage {
	width: auto;
}
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 450px;
}
.mtchdProd_inner {
	width: 100%;
}
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 450px;
}
.mtchdProd_inner {
	width: 450px;
}
.matcProTbBody {
	max-height: 185px;
}
.selProWrapbtnCnt .filterBtnCont a {
	display: inline;
	margin: auto;
}
.mtchdProd_inner {
	max-height: 268px;
	overflow: hidden;
	min-height: 190px;
}
.ctwireImg {
	margin-top: -2px;
	width: auto;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
#viewGraph {
	width: 420px;
	height: 180px;
}
.scroll {
	min-width: 520px;
}
.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
}



@media (min-width:320px) and (max-width:480px) {
.t_sresult.prodFeedTitleDim.agencyBrandWiseCont > .left {
	padding-bottom: 5px;
	width: auto;
}
.t_sresult.prodFeedTitleDim.agencyBrandWiseCont .gp_part_1 {
	float: right;
	margin: -3px 0 0;
}
.t_sresult.prodFeedTitleDim .gp_icons {
	float: left;
	padding: 5px 0 0;
	text-align: center;
}
.agencyDashInrCont .s_v {
	float: left;
	line-height: 5px;
	text-align: center;
	width: 93%;
}
.gp_part_product {
	float: right;
}
.gp_icons {
	float: left;
	padding: 10px 0 0;
	text-align: center;
	width: 100%;
}
.s_v {
	margin-right: 0;
	text-align: right;/*	width: 63%;*/
	float: right;
}
.filterBtnCont_agebcyRprt input {
	float: left;
	margin-left: 10px;
}
.filterBtnCont_agebcyRprt {
	float: left;
	margin: 8px 0 0 0;
}
.reportSrchFldCont {
	width: 100%;
}
#ProdFeed input.hasDatepicker {
	width: 49.4% !important;
}
.srchWidget_innerWrap input#widgetId {
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: 8px 3px;
	width: 245px;
}
.nolftpad {
	padding: 10px 0 0 0 !important;
}
.left_wraperr, .right_wraperr {
	width: 100%;
	display: block;
}
.logout_wrap {
	position: relative;
	padding: 15px 0 32px;
}
.logout_wrap .right {
	float: left;
	width: 100%;
}
.logout_wrap .right .left {
	float: none;
	margin: auto;
	width: 70px;
}
.top_hed {
	height: auto;
}
.tophead_left_wrapper {
	width: 100%;
	display: none;
}
.searchwrap {
	float: right;
	padding: 2px 0;
}
.searchinpt {
	width: 95%;
}
.searchinpt input {
	width: 88%;
	box-sizing: border-box;
}
.top_right_wrap {
	background: none;
	width: 100%;
	padding-top: 15px;
}
.setintp {
	float: right;
}
.dashMainWrapper {
	padding: 10px;
}
.dashMainWrapper .colWrap {
	width: 100%;
	margin: 0 0 10px 0 !important;
}
.dashMainWrapper .colWrap.support {
	margin-bottom: 0px !important;
}
/*---------------New Css ----------*/
.logo img {
	width: 80%;
}
#nav ul li, #sticky-nav ul li {
	padding-right: 10px;
}
.welcome-txt {
	margin: 0 auto 50px !important;
}
.welcome-txt h1 {
	font-size: 45px;
	margin-bottom: 50px;
}
.button-login {
	width: 300px !important;
}
.button-register {
	width: 300px !important;
}
.tfs-button-1 span {
	padding-left: 10px;
	top: 13px;
}
#main {
	padding: 0px 10px;
}
.one_half {
	padding: 10px;
	width: 100%;
}
.post-content h1 {
	line-height: 10px;
}
.red-hr {
	margin: 0 auto 0px;
}
.leftform {
	float: left;
	padding: 10px;
	width: 50%;
}
.wpcf7-form .wpcf7-text {
	width: 100%;
}
.rightform {
	padding: 10px;
	width: 50%;
}
#send-button {
	width: 100%;
}
.title-h {
	font-size: 32px !important;
}
.srchw_in {
	width: 100%;
}
.agencyDashInrCont .srchw_in {
	width: 100%;
	padding: 0;
}
.srchw_in select {
	width: 96%;
}
.srchw_in input[type="text"] {
	width: 96%;
}
#ProdFeed input[type="text"] {
	width: 96%;
}
.srchwView_in {
	width: 100%;
}
.srchwView_in select {
	width: 96%;
}
.srchwView_in input[type="text"] {
	width: 92%;
}
.srchwView_ind {
	width: 100%
}
.srchwView_ind select {
	width: 96%;
}
.srchwView_ind label {
	width: 100%;
}
.srchwView_ind input[type="text"] {
	width: 43%;
}
.selectedProdWrap+div {
	width: 100%;
	text-align: center;
	margin: auto;
}
#pdCnt2 .prodShowForEdit.btn-srch {
	padding: 5px;
	margin: auto;
	display: inline-block;
}
a.prodShow img {
	width: 105px !important;
}
.selectedProdWrap {
	float: none;
	margin: 0 auto 5px;
	text-align: center;
}
.filterBtnCont a {
	display: inline;
	margin: auto;
}
#ProdFeed.wrapper_main {
	display: block;
}
#ProdFeed #pdCnt.filterBtnCont {
	width: 100%;
}
.btn_n > .filterBtnCont {
	float: none;
	margin: auto;
	padding-top: 0;
}
.fbc_1 {
	width: 100%;
}
.filterBtnCont {
	box-sizing: border-box;
	float: left;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
.filterBtnCont.filterBtnCont_product {
	box-sizing: border-box;
	float: left;
	padding: 10px;
	text-align: center;
}
#ProdFeed #pdTotCnt.filterBtnCont {
	float: none !important;
	width: 100% !important;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 10px;
}
.wrapper_main {
	display: block;
}
.userViewWidget #check_brand, .srchWidget_innerWrap.userViewWidget input#widget_name {
	width: 96%;
}
.userReportInrCont #check_brand, .srchWidget_innerWrap.userReportInrCont input#widget_name {
	width: 96%;
}
.userReportInrCont #dateRange.srchwView_in input[type="text"] {
	margin: 0;
	width: 46.8%;
}
.btm_u {
	float: left;
	margin: 0;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}
.btm_1 {
	padding-right: 0px;
	float: none;
}
#ProdFeed #pdCnt2.fbc_1 {
	padding-top: 10px;
	margin: 0px;
}
/*.widget-dialog-main_cw{width:280px !important; overflow:auto;}*/
/*.tablWrap table {
	width: 100% !important;
	min-width: 889px;
}*/
/*.tablWrap table tr td:nth-child(5), .tablWrap table tr td:nth-child(4) {
	padding: 2px 8px 2px 0;
}*/
/*.popupwrap_mtchdProd {box-sizing:border-box; width:450px;}*/
	
	
#pdCnt2 .selectedProdWrap {
	float: left;
	width: 100%;
}
#pdCnt2 .btn_n {
	float: left;
	width: 100%;
}
#ProdFeed #pdCnt2.fbc_1 .btn_n .filterBtnCont {
	padding: 5px 0px 0 0;
}
#ProdFeed #rsltPerPage.filterBtnCont.fbc {
	margin: 0;
	padding: 0;
	width: 100%;
}
#pdCnt .filterBtnCont a {
	display: inline-block;
	margin: auto;
}
#pdCnt #prodShowForEdit {
	display: inline-block;
	margin: auto;
}
.shareWithCont {
	display: inline-block;
	float: none;
}
.ctwireImg {
	width: auto;
	margin-top: -2px;
}
.ctwireImg a {
	display: inline-block;
	vertical-align: middle;
}
.selProWrapbtnCnt .filterBtnCont a {
	display: inline;
	margin: auto;
}
span.span_txt {
	display: inline-block;
	float: none;
	margin-left: 15px;
	margin-top: 8px;
	vertical-align: top;
	width: 165px;
}
.selProctTxt {
	text-align: center;
	width: 100%;
	padding: 5px;
}
#pdCnt .selectedProdWrap {
	float: left;
	width: 100%;
}
#pdCnt2 #reset {
	display: inline-block;
}
#pdCnt #prodShowForEdit {
	display: inline-block;
	margin: 0 5px 0 0;
}
.creatFrmRw input[type="text"] {
	float: left;
	font-size: 12px;
	margin-bottom: 0 !important;
	width: 92.5%;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
.paging {
	float: none;
	margin: 0 auto;
}
ul.pagination {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}
.matcProTbHeadInr {
	width: 520px;
}
#totalClicks .matcProTbBody {
	width: 688px;
}
#totalClicks .matcProTbHead {
	width: 688px;
}
.cFrmR .cFpic {
	width: 100%;
}
.cFrmR .cFimg {
	margin-top: -10px;
	text-align: left;
	width: 50%;
}
.cFrmR .cFlft {
	width: 40%;
}
.cFrmR .cFrht {
	width: 45%;
}
.gp_part_product {
	width: 100%;
}
.gp_icons a.graphshow.bl {
	margin: 0 6px 0 0 !important;
	float: left;
}
.cFrmR textarea {
	width: 93.5%;
}

.matcProTbHeadInr {
	width: 520px;
	box-sizing:border-box;
}
#totalClicks .matcProTbBody {
	width: 520px;
}
#totalClicks .matcProTbHead {
	width: 520px;
}
#totalClicks .col1 {
	min-width: 45px;
	max-width: 45px;
	box-sizing:border-box;
}
#totalClicks .col2 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col3 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col4 {
	min-width: 95px;
	max-width: 95px;
	text-align: center;
	box-sizing:border-box;
}
#totalClicks .col5 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col6 {
	min-width: 95px;
	max-width: 95px;
	border-right: 0px;
	box-sizing:border-box;
}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
}




 @media (width:360px) {
.srchWidget_innerWrap input#widgetId {
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: 8px 3px;
	width: 283px !important;
}
#ProdFeed input.hasDatepicker {
	width: 49% !important;
}
.agencyProductWiseCont #rsltPerPage {
	clear: none;
	float: none;
	margin: 5px 0 0;
	width: auto;
}
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 330px;
}
.t_sresult .gp_part {
	float: left;
}
.gp_part_product {
	width: auto;
}
.gp_icons a.graphshow.bl {
    float: left;
    margin: 0 2px 0 0 !important;
}
.agencyProductWiseCont .gp_part{ 
	padding-right:0 !important
}
.t_sresult.prodFeedTitleDim .gp_icons {
	box-sizing: border-box;
	float: left;
	padding: 5px 0px;
	text-align: center;
}
.t_sresult.agencyBrandWiseCont .gp_part {
	float: left;
	margin-top: 5px;
	width: 100%;
}
.t_sresult.prodFeedTitleDim.agencyBrandWiseCont .gp_icons {
	box-sizing: border-box;
	float: left;
	padding: 5px 0px;
	text-align: center;
}
#matchedProModal {
	left: 25%;
}
.creatFrmRw input[type="text"] {
	width: 91%;
}
#matchedProModal .mtchdProd_inner {
	width: 315px;
}
#viewGraph {
	width: 310px;
}
.scroll {
	min-width: 519px;
}
.ctwireImg {
	margin-top: 10px;
	width: auto;
}
#viewGraph {
	width: 310px;
	height: 180px;
}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
}




 @media all and (max-width: 330px) {
/*Dashboard*/
#dashboard {
	width: 100%;
}
.sWC_b_c2 {
	clear: both;
	float: none;
	margin: 0;
}
.sWC_b_c2 {
	max-width: 414px;
}
ul.paginationA01 li a {
	padding: 0 6px;
}
.matcProTbCont {
	box-sizing: border-box;
	width: 92.5%;
	max-height: 200px;
}
.highcharts-container {
	overflow-x: scroll !important;
	overflow-y: hidden !important;
}
.matcProTbBody {
	max-height: 282px;
}
.tablWrap {
	overflow: auto;
}
.ip, .ip1, .country, .country1, .lastView, .lastView1 {
	width: 180px;
}
/*ul.ui-autocomplete {width:245px !important;}*/
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 300px;
}
.scroll {
	min-width: 600px;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
#viewGraph {
	width: 420px;
	height: 180px;
}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
}




@media (width:320px) {
.t_sresult.prodFeedTitleDim > .left {
	font-size: 11px;
}
.agencyProductWiseCont #rsltPerPage {
	float: none;
	font-size: 12px !important;
	margin: 3px 0;
	width: auto;
}
.agencyProductWiseCont .gp_part {
	margin-top: 0px;
}
#ProdFeed input.hasDatepicker {
	width: 49% !important;
}
/*.srchinPane div:last-child { padding:0 0 10px;}*/ 
.button-login {
	margin-bottom: 10px;
	width: 100%;
}
.t_sresult .gp_part {
	float: none;
}
.t_sresult.agencyBrandWiseCont .gp_part {
	float: left;
}
a.bl {
	margin: 3px 0;
	padding: 5px 3px;
}
.popupwrap_mtchdProd {
	box-sizing: border-box;
	width: 300px;
}
.mtchdProd_inner {
	width: 300px;
}
ul.pagination {
	font-size: 10px;
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
}
ul.pagination li {
	margin: 0 0 5px 3px;
}
ul.paginationA01 li a {
	padding: 0 4px;
}
.selectedProdWrap span {
	float: left;
	width: 100%;
	text-align: center;
}
.selProWrapbtnCnt {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.selProWrapbtnCnt .btn-srch {
	display: inline;
}
.selProWrapbtnCnt .filterBtnCont a {
	display: inline;
	margin: auto;
}
#viewGraph {
	width: 270px;
	height: 250px;
}
.matcProTbCont {
	box-sizing: border-box;
	width: 92.5%;
	max-height: 250px;
}
.matcProTbCont {
	box-sizing: border-box;
	max-height: 250px;
	width: 94.5%;
}
.ip, .ip1, .country, .country1, .lastView, .lastView1 {
	width: 183px;
}
#matchedProModal {
	left: 20%;
}
#matchedProModal .mtchdProd_inner {
	width: 295px;
	max-height: 290px;
}
#attributedProModal .pophadertxt .mtchdProdHd {
	float: left;
	padding: 0;
	width: 50%;
}
#attributedProModal .mtchdProd_popheader .crossbtn {
	float: right;
	padding: 10px;
}
.pophadertxt {
	box-sizing: border-box;
	width: 88%;
}
.selProctTxt {
	text-align: center;
	width: 100%;
	padding: 5px;
}
#pdCnt .selectedProdWrap {
	float: left;
	width: 100%;
}
#pdCnt2 #reset {
	display: inline-block;
}
#pdCnt #prodShowForEdit {
	display: inline-block;
	margin: 0 5px 0 0;
}
.ctwireImg {
	margin-top: 8px;
	width: 100%;
}
.creatFrmRw input[type="text"] {
	float: left;
	font-size: 12px;
	margin-bottom: 0 !important;
	width: 91%;
}
.lux_three_Widget ul.retlogolist_cw li {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 16px;
}
.luxwidgetcontwrap .widgetScrollWrap {
	max-height: 172px;
}
.paging {
	float: none;
	margin: 0 auto;
}
.matcProTbHeadInr {
	width: 520px;
}
#totalClicks .matcProTbBody {
	width: 688px;
}
#totalClicks .matcProTbHead {
	width: 688px;
}
.widgetRepTop {
	margin-bottom: 10px;
}
.pophadertxt .mtchdProdHd {
	width: 100%;
}
.gp_part_product {
	width: 100%;
}
.gp_icons a.graphshow.bl {
	margin: 3px 6px 0 0 !important;
	float: none;
}
.matcProTbHeadInr {
	width: 520px;
	box-sizing:border-box;
}
#totalClicks .matcProTbBody {
	width: 520px;
}
#totalClicks .matcProTbHead {
	width: 520px;
}
#totalClicks .col1 {
	min-width: 45px;
	max-width: 45px;
	box-sizing:border-box;
}
#totalClicks .col2 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col3 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col4 {
	min-width: 95px;
	max-width: 95px;
	text-align: center;
	box-sizing:border-box;
}
#totalClicks .col5 {
	min-width: 95px;
	max-width: 95px;
	box-sizing:border-box;
}
#totalClicks .col6 {
	min-width: 95px;
	max-width: 95px;
	border-right: 0px;
	box-sizing:border-box;
}

.dashboardTblInner{ width:965px;}
.sel_retailor_cont table.dashboardTbl {
    width: 965px;
}
#specific_edit .tablWrap table th:nth-child(1) {
    max-width: 53px;
    min-width: 53px;
}
#specific_edit .tablWrap table th:nth-child(2) {
    max-width: 168px;
    min-width: 168px;
}
#specific_edit .tablWrap table th:nth-child(3) {
    max-width: 210px;
    min-width: 210px;
}
#specific_edit .tablWrap table th:nth-child(4) {
    max-width: 248px;
    min-width: 248px;
}
}
