@import url("font.css");
* {
    box-sizing: initial;
}
*:focus {
    outline: 0;
}
a {outline: 0 none;}

.widget_multi_wrapprt {
	width: 258px;
	height: auto;
	overflow:hidden;
	/*border-radius: 10px;
	border: 1px solid #333333;*/
	position: relative;
	float: left;
	margin:1px 2px 2px 2px;
}
.pic_overlap {
	width: 266px;
	height: 159px;
	overflow: hidden;
	position: relative;
	border:1px solid #333333
}
.clr_bth {
	clear: both
}
.multicolor_wrap {
	width: 248px;
	padding: 4px 5px;
	background-color: #e0e0e0;
	overflow-y: scroll;
	display:none;
}
.btmwidgetwrap {
	float: left;
	width: 258px;
	padding: 0px;
	background-color: #f6f6f6;
	border-top: 1px solid #e0e0e0;
	height: 142px;

}
.retailerbx {
	float: left;
	width: 117px;
	height: 60px;
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	border-radius: 8px;
	margin: 4px 5px;
}
.logowrp_retailer {
	text-align: center;
	padding: 5px;
	height: 32px
}
.buynowrap {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #464646;
	padding: 4px 5px;
	height: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 11px;
	line-height: 11px;
	font-family: 'open_sansregular';
}
.buynowrap a {
	color: #ffffff;
	text-decoration: none;
	font-family: 'open_sansregular';
}
.buynowrap a:hover {
	color: #ffffff;
	text-decoration: underline;
	font-family: 'open_sansregular';
}
.buynowrap_dis {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #cccccc;
	padding: 4px 5px;
	height: 10px;
	text-align: center;
	color: #545454;
	font-size: 11px;
	line-height: 11px;
	font-family: 'open_sansregular';
}
.buynowrap_dis a {
	color: #545454;
	text-decoration: none;
	font-family: 'open_sansregular';
}
.buynowrap_dis a:hover {
	color: #545454;
	text-decoration: underline;
	font-family: 'open_sansregular';
}
.colorpalate {
	float: left;
	width: 22px;
	height: 22px;
	margin: 3px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer
}
.colorpalate a {
	display: block;
	width: 22px;
	height: 22px;
}
.redcolor {
	background-color: #ff0000;
}
.blecolor {
	background-color: #09F;
}
.orangecolor {
	background-color: #e39a55;
}
.lgtyelowcolor {
	background-color: #d8be44;
}
.greencolor {
	background-color: #7fb34d;
}
.graycolor {
	background-color: #464646;
}
.myroncolor {
	background-color: #7d5050;
}
.pinkcolor {
	background-color: #ec5e8e;
}
.lgtradishcolor {
	background-color: #c03838;
}
.perplecolor {
	background-color: #c7a8fe;
}
.trnsparenttitle {
	float: left;
	text-align:left;
	padding: 2% 4%;
	color: #ffffff;
	word-wrap: break-word;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(40,40,40,0.5);
	font-family: 'open_sansregular';
	width:92%;
}
.crosbtn {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 5px solid #ffffff;
	border-radius: 50%;
	z-index: 999
}
.btmwidgetwrap2 {
	background-color: #f6f6f6;
	border-top: 1px solid #e0e0e0;
	float: left;
	height: 142px;
	padding: 0;
	width: 258px;
}
.retailerbx2 {
	float: left;
	width: 117px;
	height: 60px;
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	border-radius: 8px;
	margin: 4px 5px;
}
.logowrp_retailer2 {
	text-align: center;
	padding: 5px;
	height: 32px;
	vertical-align: middle
}
.dialog_popup_container {
	height: 362px;
}


.widget_multi_wrapprt.brdNone {border:0px; border-radius:0px;}
.pic_overlap {width:256px; text-align:center; background:#000;}
.pic_overlap img {height:100%;}
.ui-dialog .ui-dialog-content {padding:1em 1em .1em 1em !important;}
.dialog-overlay .ui-draggable .ui-dialog-titlebar {position:absolute; right:0px;}
/*#preview .btmwidgetwrap2 {width:258px;} 
#preview .retailerbx2 {margin:5px 5px 0; width:116px;}*/

@media all and (max-width: 1280px) {
	.btmwidgetwrap2{height:auto;}
	.widget_multi_wrapprt{height:auto;}
}
@media all and (max-width: 1024px) {
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 810px) {
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 778px) {
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 650px) {
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 490px){
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 370px) {
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media (min-width:320px) and (max-width:480px) {
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}