@charset "utf-8";
/* CSS Document */


.modelBox {
	padding: 0px;
	width: 800px;
	height: auto;
	position: relative;
	display: none;
}
.closeDiv {
     position: absolute;
    right: -48px;
    top: -11px;
}
 .modelBox_mid {
	background: #fff;
	padding: 25px 15px 25px 15px; float:left; width:800px; border-radius: 10px 10px 10px 10px;
	border:0px solid #666;
}
 .img_watermark {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 20px;
	color: #fff;
	opacity: .75;
	background: #333;
	padding: 15px;
	font-weight: bold;
	font-family: Verdana;
}

.close { opacity:1;}
.close:hover, .close:focus{ opacity:1;}

input#livePreview {
    background:#21409A;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
    padding: 7px 12px 6px 20px;
    position: static;
    text-transform: uppercase;
	cursor: pointer;
}