
@media all and (max-width: 1280px) {
	.retcontwrap_cw{height:62px;}
	
	.btmwidgetwrap2{height:auto;}
	.widget_multi_wrapprt{height:auto;}
}
@media all and (max-width: 1024px) {
	
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.retcontwrap_cw{height:62px;}
	.knorrSingWidget{width:250px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 810px) {
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.retcontwrap_cw{height:62px;}
	.knorrSingWidget{width:250px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 778px) {
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.knorrSingWidget{width:250px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.retcontwrap_cw{height:62px;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 650px) {
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.knorrSingWidget{width:250px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.retcontwrap_cw{height:62px;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 490px) {
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.knorrSingWidget{width:250px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.retcontwrap_cw{height:62px;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media all and (max-width: 370px) {
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.knorrSingWidget{width:250px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.retcontwrap_cw{height:62px;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
@media (min-width:320px) and (max-width:480px) {
	.kwidetwrap_cw ul.retlogolist_cw li{ width:50%; margin-bottom: 10px;}
	.luxwidgetcontwrap ul.retlogolist_cw li{margin-bottom: 10px;}
	.knorrSingWidget{width:250px;}
	.dnarrwmobWrap{background:url('../images/dnarrwmobile.png') bottom center no-repeat; position:absolute; bottom:3px; left:47%; width:25px; height:25px;}
	.knorrSingWidget ul.retlogolist_cw li{width:50%;}
	.retcontwrap_cw{height:62px;}
	.doveIngWidget{width:250px;}
	.doveIngWidget ul.retlogolist_cw li{width:50%;}
	.three_Widget{width:250px;}
	.three_Widget ul.retlogolist_cw li{width:50%;}
	.lux_three_Widget {width: 250px;}
	
	.widget_multi_wrapprt{height:auto; padding-bottom:5px;}
	.btmwidgetwrap2{height:auto;}
}
