@charset "utf-8";
/* CSS Document */

#header, #bodycontent, #footer {
	width: 100%;
	margin: auto;
}
.headerWrap, .bodyWrap, .footerWrap {
	width: 1000px;
	margin: auto;
}
#header {
	border-top: 4px solid #e30612;
	border-bottom: 5px solid #e3e3e3;
	padding: 18px 0 13px;
	background:#fff;
}
#footer {
	background: #2d2d2d;
	padding: 30px 0;
}
ul.nav {
	padding-left: 75px;
	float: left;
	list-style: none;
}
ul.nav li {
	display: inline;
}
ul.nav li a {
	display: inline-block;
	padding: 5px 27px;
	line-height: 19px;
	border: 2px solid #fff;
	margin-right: -2px;
	color: #646464;
}
ul.nav li a:hover, ul.nav li a.selected {
	border: 2px solid #e0e0e0;
	border-radius: 20px;
	color: #de6666;
}
.hw_colR {
	float: right;
	color: #333;
	padding-right:0px;
}
.hw_colR a {
	color: #009ddc;
}
.hw_colR a:hover {
	color: #e30612;
}
.hw_topLink {
	text-align:right;
	padding-right:15px;
	padding-bottom:5px;
	font-size:13px; float:right;
}
.logo {
	float:left;
	padding-top:14px;
}
.headerWrap{ padding:8px 0px;}
.bannerWrap {background:url(./images/singleton/bannerbg.jpg) left bottom repeat-x #009ddc;}
.bannerContentWrap {width:100%;}
.bannerNav a img {margin-bottom:5px;}
.bannerNav a {color:#fff; display:table-cell; background:#d90107; text-transform:uppercase; vertical-align:middle; text-align:center; height:95px;}
.bannerNav a.demo {width:147px; background:#c00000;}
.bannerNav a.tech {width:179px;}
.bannerNav a.sol {width:194px;}
.bannerNav a:hover { color:#fff;}
.bannerNav a.selected, .bannerNav a.selected:hover {background:#e70b1f; color:#fff;}
.bnrTxt_light14 {font-size:14px; font-family: 'open_sanslight'; line-height:24px; color:#fff; padding:0 0 10px 0;}
.bnrTxt_light33 {font-size:33px; font-family: 'open_sanslight'; line-height:40px; color:#fff;}
.bnrTxt_extBold33 {font-size:33px; font-family: 'open_sansextrabold'; line-height:44px; color:#fff;}
.bnrBtn_tryFree {border-radius:26px; border:3px solid #41b0dd; padding:10px 30px; text-transform:uppercase; color:#009ddc; font-family: 'open_sanssemibold'; font-size:16px; background:#fff;}
.bnrBtn_tryFree:hover {border:3px solid #44b7e5; color:#0284b8; background:#f9f9f9;}
.bw_topRow {padding:65px 0 75px; background:#ebebeb;}
.bw_topRow .colWrap {width:33.33%; float:left;}
.tourWrap {width:263px; padding:10px; background:#575759; float:left; border-radius:3px;}
.pricingWrap {width:263px; padding:10px; background:#575759; margin:auto; border-radius:3px;}
.resourceWrap {width:263px; padding:10px; background:#009ddc; float:right; border-radius:3px;}
.bw_topRow .iconWrap {display:table-cell; width:263px; text-align:center; vertical-align:middle; height:130px; border-radius:3px; background:#3f3f3f;}
.bw_topRow .iconWrap.blue {background:#0082b6;}
.bw_topRow a.readMore {display:block; width:100%; padding:10px 0; border-radius:3px; text-align:center; color:#405014; background:#c6c6c6;}
.bw_topRow a.readMore:hover {background:#bcbbbb;}
.bw_topRow a.readMore.blue {background:#66c4ea;}
.bw_topRow a.readMore.blue:hover {background:#64bee3;}
.bw_topRow a.readMore.gry {background:#9a9a9b;}
.bw_topRow a.readMore.gry:hover {background:#939394;}
.bw_topRow .colWrap .contentWrap {padding:12px 0 22px; text-align:center; font-size:14px; color:#fff;}
.bw_topRow .colWrap .contentWrap h1 {font-size:28px; font-family: 'open_sanslight'; line-height:36px;}
.heading28 {font-size:28px; font-family: 'open_sanslight'; line-height:36px; text-align:center; padding-bottom:50px;}
.headingRed28 {font-size:28px; color:#e30612; font-family: 'open_sansbold'; text-align:center;} 
.aboutTxt {font-size:16px; padding:10px 0 0; font-family: 'open_sanslight'; line-height:28px; text-align:center;}
input.watchDemo {width:224px; border-radius:20px; border:2px solid #009ddc; padding:5px 0; text-transform:uppercase; color:#009ddc; font-family: 'open_sanssemibold'; font-size:16px; background:#fff;}
input.watchDemo:hover {border:2px solid #0284b8; color:#0284b8; background:#fbfbfb;}
.talkWrap {background:#e30612; padding:20px 0;}
.letsTalk {width:184px; float:left; font-size:28px; color:#fff; font-family: 'open_sansbold';}
.lt_field {float:left;}
.lt_field input {width:250px; padding:10px; margin-right:8px; font-family: 'open_sanslight'; font-size:14px; color:#717171;border:0px; border-radius:3px;}
.lt_field input[type="button"] {margin-right:0px; background:#f1f333; font-size:18px; color:#6f700a; font-family: 'open_sansextrabold'; height:39px; padding:5px 10px; vertical-align:-2px;}
.lt_field input[type="button"]:hover {background:#ecee32;}
.clientLogo_wrap {padding:10px 0 5px;}
.clientLogo_wrap img {margin:0 .72em 0 0;}
.clientLogo_wrap img:last-child {margin:0;}
.slidingPanel_wrapper {padding:20px; background:#fff; border-radius:3px;}
.slidingPanel_wrapper .innerWrap {width:100%; float:left}
.slidingPanel_wrapper .btn {width:12px; display:table-cell; vertical-align:middle;}
.slidingPanel_wrapper .btn:first-child {padding-right:20px;}
.slidingPanel_wrapper .btn:last-child {padding-left:20px;}
.slidingPanel_wrapper .btn a {cursor:pointer;}
.slidingPanel_wrapper .innerWrap .contentWrap {width:900px; display:table-cell;}
.csImageWrap {width:82px; height:82px; text-align:center; overflow:hidden; margin:auto; border-radius:50%; background:#eaeaea;}
.csImageWrap img {margin-top:10px;}
.SlidingPanelsContent .csTxt {font-size:16px; padding:10px 0 15px; font-family: 'open_sanslight'; line-height:28px; text-align:center; color:#545f61;}
.cs_nameWrap {background: url(../../images/singleton/dotbg.jpg) center repeat-x; padding:0 50px; display:inline-block;}
.cs_nameInnerWrap {font-size:12px; color:#8e8e8e; font-family: 'open_sansbold'; background:#fff; padding:0 12px; margin-top:-1px;}
.cs_nameInnerWrap span {color:#e30612;}
.footerWrap > .colWrap {
	display: table-cell;
	min-width: 152px;
	border-right: 1px solid #282828;
	border-left: 1px solid #383838;
	padding: 10px 54px 2px;
}
.footerWrap > .colWrap:first-child {
	border-left: 0px;
	padding-left: 0px;
	min-width:210px;
}
.footerWrap > .colWrap:last-child {
	border-right: 0px;
	padding-right: 0px;
	min-width:160px;
}
.footerWrap > .colWrap ul.fw_list {
	list-style: none;
}
.footerWrap > .colWrap ul.fw_list li {
	font-family: 'open_sanslight';
	font-size: 12px;
	line-height: 20px;
}
.footerWrap > .colWrap ul.fw_list li a {
	color: #b8b8b8;
}
.footerWrap > .colWrap ul.fw_list li a:hover, .footerWrap > .colWrap ul.fw_list li a.selected {
	color: #009ddc;
}
.footerWrap > .colWrap ul.fw_list li:first-child {
	color: #009ddc;
	font-size: 16px;
	font-family: 'open_sanssemibold';
	text-transform: uppercase;
	padding-bottom: 5px;
}
.fw_btnBrdWrp {
	margin: 14px auto 8px;
	border-top: 1px solid #282828;
	border-bottom: 1px solid #313131;
}
.copyWrap {
	color: #4c4b4b;
	font-size: 12px;
	float: left;
}
.socialIconWrap {
	float: right;
}
.socialIconWrap a {
	display: inline-block;
	width: 21px;
	height: 20px;
	background: url(../../images/singleton/follow_iconset.png) 0 0 no-repeat;
}
.socialIconWrap a.fb {
	background-position: 0 -22px;
}
.socialIconWrap a.fb:hover {
	background-position: 0 0px;
}
.socialIconWrap a.tw {
	background-position: -24px -22px;
}
.socialIconWrap a.tw:hover {
	background-position: -24px 0px;
}
.socialIconWrap a.gplus {
	background-position: -48px -22px;
}
.socialIconWrap a.gplus:hover {
	background-position: -48px 0px;
}
.socialIconWrap a.insta {
	background-position: -96px -22px;
}
.socialIconWrap a.insta:hover {
	background-position: -96px 0px;
}

/* 28 Mar 2014 */
body.imgBg {background:url(../../images/singleton/bodyBg.jpg) no-repeat center -105px; background-size:100%; position:relative;}
body.imgBg > #footer {
	background: none;
	padding: 0 0 25px 0;
	position:fixed;
	bottom:0px;
}
body.imgBg > #footer .fw_btnBrdWrp {
    border-bottom: 1px solid #e1944c;
    border-top: 1px solid #9d4f07;
	margin:0px auto 22px;
}
body.imgBg > #footer .copyWrap {color:#fff;}
.logPage_colL {width:444px; float:left; background:url(../../images/singleton/dotbg_gry2.png) repeat; padding:15px 25px 20px;}
.bodyWrap.pTop30 {padding:30px 0 60px 0;}
.logPage_colR {width:385px; float:right; padding:6px; background:url(../../images/singleton/dotbg_wht.png) repeat; border-radius:10px; font-size:13px; font-family: 'open_sansregular';}
.logPage_colR > .innerWrap {background:#fff; padding:25px 40px 15px; border-radius:7px 7px 0 0;} 
.logFldWrap {width:100%; padding-bottom:15px;}
.logFldInner {border-top:2px solid #a0a0a0; background:#dedede; border-right:1px solid #E2E2E2 ; border-bottom:1px solid #E2E2E2 ; border-left:1px solid #b1b1b1; border-radius:5px;}
.logFldInner > input {background:none; float:left; border:0px; border-right:1px solid #dadada; width:234px; height:37px; padding:0 15px; color:#727272;font-family: 'open_sansregular'; font-size:16px;}
.logFldInner .iconWrap {width:37px; height:37px; float:left; text-align:center; border-left:1px solid #b5b5b5;}
.logFldInner .iconWrap > img {margin-top:8px;}
.logFldInner > select {height:37px; width:100%; padding:9px; background:none; border:0px; color:#727272;} 
.logPage_colR > .logBtnWrapper {background:url(../../images/singleton/horzLineBg.jpg) top left repeat-x #fff; padding:15px 40px; border-radius:0 0 7px 7px; text-align:center; color:#797979;}
.logPage_colR > .logBtnWrapper a {color:#007eff;}
.logPage_colR > .logBtnWrapper a:hover {color:#009DDC;}
.logPage_colR > .logBtnWrapper input.loginBtn {width:100%; padding:2px 0 4px; border:2px solid #2daee2; font-size:19px; color:#fff; border-radius:7px; background:#009ddc; font-family: 'open_sansbold'; line-height:26px;}
.logPage_colR > .logBtnWrapper input.loginBtn:hover {opacity:.9;}
.logPage_colR > .innerWrap > .left {color:#273139;}
.logPage_colR > .innerWrap > .right {color:#35434e;}
.logPage_colR > .innerWrap > .left input[type="checkbox"] {margin-right:2px; vertical-align:-2px;}

/*Registration*/

.RegFldWrap {width:100%; padding-bottom:15px;}
.RegFldInner {border-top:2px solid #a0a0a0; background:#dedede; border-right:1px solid #E2E2E2 ; border-bottom:1px solid #E2E2E2 ; border-left:1px solid #b1b1b1; border-radius:5px;}
.RegFldInner > input {background:none; float:left; border:0px; width:274px; height:37px; padding:0 15px; color:#727272;font-family: 'open_sansregular'; font-size:16px;}
.RegFldInner .iconWrap {width:37px; height:37px; float:left; text-align:center; border-left:1px solid #b5b5b5;}
.RegFldInner .iconWrap > img {margin-top:8px;}
.RegFldInner > select {height:37px; width:100%; padding:0px; background:none; border:0px; color:#727272;font-family: 'open_sansregular'; font-size:14px;} 
#bodycontent.signup+#footer {position:relative;}